.container-style{
    min-height: 100vh;
    background-color: #485461;
    background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
    overflow-x: hidden;
    transform-style: preserve-3d;
}
.navbar{
    z-index: 10;
    height: 3rem;
}
.menu{
    max-width: 72rem;
    margin: 0 auto;
    padding: 0 2rem;
}
.logo{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 4rem;
}
.logo span{
    font-weight: 300;
}
.hamburger-menu{
    height: 4rem;
    width: 3rem;
    cursor: pointer;
}
.bar{
    width: 1.9rem;
    height: 1.5px;
    border-radius: 2px;
    transition: 0.5s;
    background-color: white;
}
.bar:before,.bar:after{
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #eee;
    transition: 0.5s;
}
.bar:before{
    transform: translateY(-9px);
}
.bar:after{
    transform: translateY(9px);
}
.container-style.active .bar{
    transform: rotate(360deg);
    background-color: transparent;
}
.container-style.active .bar:before{
    transform: translateY(0) rotate(45deg);
}
.container-style.active .bar:after{
    transform: translateY(0) rotate(-45deg);
}